.magazine-cover {
  display: grid;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "small-article1 small-article2 cover-image";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
}

.title {
  grid-area: title;
}

.feature-article {
  grid-area: feature-article;
}

.cover-image {
  grid-area: cover-image;
}